html {
    font-size: 10px;
}
body {
    margin: 0%;
}
section {
    padding: 5px;
}
.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85586F;
    color: #F8EDE3;
}
.headerbg {
    position: absolute;
    bottom: 2px;
    z-index: 0;
    opacity: 0.5;
}
.hero>h1 {
    font-family: 'Exo 2', sans-serif;
    font-stretch: extra-expanded;
    font-size: 7rem;
    margin: 20px;
    letter-spacing: 3px;
}
.hero>h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
    margin-left: 20px;
    letter-spacing: 2px;
}

.bluebg {
    background-color: #F8EDE3;
}

.Skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Skills .one {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Skills img {
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.Skills h2 {
    font-size: 5rem;
    font-family: 'Exo 2', sans-serif;
    color: #D0B8A8;
    margin: 0;
}

.Skills .three {
    display: flex;
    align-items: center;
    grid-row: span 2;
}
.Skills ul {
    margin: 40px;
    color: #85586F;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
    line-height: 40px;
}

.Experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
}
.Experience .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Experience .two{
    grid-area: 2/1/3/2;
}
.Experience h2 {
    font-family: 'Exo 2', sans-serif;
    color:#D0B8A8;
    font-size: 5rem;
    margin-left: 20px;
    margin-bottom: 5px;
}

.Experience h3{
    color:#D0B8A8;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.2rem;
    margin: 5px;
    margin-left: 20px;
}

.Experience ul {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
    color: #85586F;
    margin-top: 50  px;
    line-height: 40px;
}

.imag {
    grid-area: 1/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imag img {
    height: 200px;
    margin: 20px;
    filter: invert(100%);
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.contact h2 {
    font-family: 'Exo 2', sans-serif;
    color: #D0B8A8;
    font-size: 5rem;
    margin-left: 20px;
    margin-bottom: 5px;
}

.contact h3 {
    color:#D0B8A8;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.2rem;
    margin: 5px;
    margin-left: 20px;
}

.contact ul {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
    color: #85586F;
    margin-top: 100px;
    line-height: 50px;
}
.container {
    background-color: #0B2447;
    margin: 0%;
    width: 100%;
}
footer {
    background-color: #85586F;
    color: #F8EDE3;
    padding: 40px;
}
footer h2 {
    font-family: 'Exo 2', sans-serif;
    margin-top: 0%;
    padding: 10px;
    padding-left: 0%;
    font-size: 4rem;
}
.address {
    font-size: 2rem;
    font-family: 'Alegreya Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 0%;
}
.fcontact ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 0%;
}
.fcontact img {
    height: 30px;
    margin-right: 20px;
    filter: invert(100%);
}
footer p {
    margin: 0;
    font-size: 2rem;
    font-family: 'Alegreya Sans', sans-serif;
}
@media (max-width: 750px) {
    html {
        font-size: 6px;
    }
    .Skills {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 10px;
    }
    .Skills .one {
        grid-area: 1/1/2/2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .Skills .three {
        display: flex;
        align-items: center;
    }
    .Experience .two {
        grid-area: 2/1/3/3;
    }
    .Experience .imag {
        grid-area: 1/2/2/3;
    }
    .imag img {
        height: 125px;
    }
    .contact .two {
        grid-area: 2/1/3/3;
    }
    .contact .imag {
        grid-area: 1/2/2/3;
    }
}
